.chat{
    flex: 2;
    border-left: 1px solid #dddddd35;
    border-right: 1px solid #dddddd35;
    height: 100%;
    display: flex;
    flex-direction: column;

    .top{
        padding: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 1px solid #dddddd35;

        .user{
            display: flex;
            align-items: center;
            gap: 20px;

            img{
                width: 60px;
                height: 60px;
                border-radius: 50%;
                object-fit: cover;
            }
            .texts{
                align-items: start;
                display: flex;
                flex-direction: column;
                gap: 5px;

                span{
                    font-size: 18px;
                    font-weight: bold;
                }
                p{
                    text-align: start;
                    font-size: 14px;
                    font-weight: 300;
                    color: #a5a5a5;
                }
            }
        }
    }
}
