.chatList{
    flex: 1;
    overflow: scroll;
    .search{
        display: flex;
        align-items: center;    
        gap: 20px;
        padding: 20px;
        
        .searchBar{
            flex: 1;
            background-color: rgba(17, 25, 40, 0.5);
            display: flex;
            gap: 20px;
            align-items: center;
            border-radius: 10px;
            padding:10px;

            input{
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }
            img{
                width: 20px;
                height: 20px;
            }
        }
        .add{
            width: 20px;
            height: 20px;
            background-color: rgba(17, 25, 40, 0.5);
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
    .item{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;
        cursor: pointer;
        border-bottom: 1px solid #dddddd35;
    }
}