.detail{
    flex: 1;
    overflow: scroll;
    overflow-x: hidden;
    .user{
        padding: 30px 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        border-bottom: 1px solid #dddddd35;

        img{
            width: 100px;
            height: 100px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
