.addUser{
    width: max-content;
    height: max-content;
    padding: 30px;
    background-color: rgb(17, 25, 40);
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;

    form{
        display: flex;
        gap: 20px;

        input{
            padding: 15px;
            border-radius: 5px;
            border: none;
            outline: none;
        }
        button{
            padding: 15px;
            border-radius: 5px;
            background-color: #1a73e8;
            color: white;
            border: none;
            cursor: pointer;
        }
    }
    .user{
        margin-top: 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .detail{
            display: flex;
            align-items: center;
            gap: 20px;

            img{
                width: 50px;
                height: 50px;
                border-radius: 50%;
                object-fit: cover;

            }
        }
        button{
            padding: 15px;
            border-radius: 5px;
            background-color: #1a73e8;
            color: white;
            border: none;
            cursor: pointer;
        }
    }
}